{% extends "layout.html" %}

{% block body %}

    <div class="jumbotron text-center mt-5">
        <h3>Çalışan Sayımız</h3>
        <p>
            {{number}}
        </p>
        <hr>
        <h3>Üyeler</h3>
        <p>
            {{members}}
        </p>
        <hr>
        <h3>Hakkımızda</h3>
        <hr>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        <hr>


        {% if   members == 20%}
            <p>Üye sayımız 20'ye eşit.</p>
        {% else %}
            <p>Üye sayımız 20'ye eşit değil.</p>
        {% endif %}


        {% for name in names %}
            <h6>{{name}}</h6>
        {% endfor %}
        
    </div>
{% endblock body %}
